extend default

block title
    title spongo

block scripts
    //script(type="text/javascript", src="/bid_engine.js")

block content
    h1 Welcome!

        p 
            | Click 
            a(href="/hello") here
            |  to see a greeting.
